*{
	font-family: Roboto;
	margin: 0px;
	padding: 0px;
}

body{
	background-color: rgba(40, 40, 40, 1.0);
}

body::-webkit-scrollbar{
	width: 9px;
	background-color: rgba(30, 30, 30, 1.0);
}

body::-webkit-scrollbar-thumb{
	width: 9px;
	background-color: rgba(150, 150, 150, 1.0);
	border-radius: 99px;
}

p{
	color: white;
}

.texto-inicio{
	color: white;
	text-shadow: 3px 3px 0px black;
}

.inicio-barra{
	width: 100%;
	text-align: center;
	padding: 10px 0px;
	margin-bottom: 20px;
	border-bottom-right-radius: 99px;
	border-bottom-left-radius: 99px;
	background-color: rgba(70, 70, 70, 1.0);
}

.listas{
	width: 100%;
}

.listas-titulo{
	margin-top: 18px;
	width: 100%;
	color: white;
	text-shadow: 3px 3px 0px black;
	font-size: 30px;
	text-align: center;
}

.seccion{
	background-color: rgba(45, 45, 45, 1.0);
	padding: 1%;
	width: 98%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.caja{
	border-radius: 6px;
	width: 30%;
	margin: 1%;
	padding: 5px;
	background-color: rgba(80, 80, 80, 1.0);
}

.video-caja{
	width: 100%;
	height: 320px;
	border-color: yellow;
	border-radius: 4px;
}

.titulo{
	font-size: 22px;
	margin-bottom: 5px;
}

.grupo{
	font-size: 18px;
}

@media(max-width: 1000px){
	.texto-inicio{
		font-size: 50px;
	}

	.listas-titulo{
		font-size: 45px;
	}

	.caja{
		width: 96%;
		margin: 2%;
	}

	.video-caja{
		width: 100%;
		height: 480px;
	}
}